@charset "UTF-8";

p span{
  font-size: 1.75em;
   color: #ff0000;
}

.syumi-rei{
  float: left;
}

caption{
  padding: 10px;
}

#syumiName{
  background-color: #ff0000;
}

thead th{
  color: white;
  background-color: #ffff00;
  text-align: senter;
}

thead td{
  color: #f0f8ff;
  background-color: #0000ff;
  texe-align: center;
}

.bottom{
  -webkit-appearance: none;
  maggin: 1px;
}

table{
  padding: 40px 80px;
  border: green 1px solid;
  baxkground-color: #000000;
}

#syumi{
  border: 2px; solid red;
}
